# Токен пользователя облака. Можно IAM
token = ""

# id вашего облака
cloud_id = ""

# id папки, в которой размещена ВМ
folder_id = ""

# id зарезервированного ip адреса
static_addr = ""

# Информация по ключу и логину
ssh_keys = {
        file = "~/.ssh/id_ed25519.pub"
        user = "your_login"
    }